---
import "@splidejs/splide/css/sea-green";

const images = [
  "/img/1.jpeg",
  "/img/2.jpeg",
  "/img/3.jpeg",
  "/img/4.jpeg",
  "/img/5.jpeg",
  "/img/6.jpeg",
  "/img/7.jpeg",
  "/img/8.jpeg",
  "/img/9.jpeg",
  "/img/10.jpeg",
  "/img/11.jpeg",
  "/img/12.jpeg",
  "/img/13.jpeg",
  "/img/14.jpeg",
  "/img/15.jpeg",
  "/img/16.jpeg",
  "/img/17.jpeg",
  "/img/18.jpeg",
];
---

<div class="px-8">
  <section
    id="main-carousel"
    class="splide bg-white shadow-lg rounded-lg"
    aria-label="The Beautiful Gallery carousel. Selecting a thumbnail will change this carousel."
  >
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map((image) => (
            <li class="splide__slide">
              <img src={image} alt="" />
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <section
    id="thumbnail-carousel"
    class="splide"
    aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
  >
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map((image) => (
            <li class="splide__slide">
              <img src={image} alt="" />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</div>

<style is:global>
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .splide__slide {
    opacity: 0.6;
  }

  .splide__slide.is-active {
    opacity: 1;
  }
</style>

<script>
  import Splide from "@splidejs/splide";

  var main = new Splide("#main-carousel", {
    type: "fade",
    rewind: true,
    pagination: false,
    arrows: false,
  });

  var thumbnails = new Splide("#thumbnail-carousel", {
    fixedWidth: 100,
    fixedHeight: 60,
    gap: 10,
    rewind: true,
    pagination: false,
    isNavigation: true,
    focus: "center",
    breakpoints: {
      600: {
        fixedWidth: 60,
        fixedHeight: 44,
      },
    },
  });

  main.sync(thumbnails);
  main.mount();
  thumbnails.mount();
</script>
