---
import "@splidejs/splide/css/sea-green";

const images = [
  {
    image: "/img/inicio.jpeg",
    text: "This is how it began...",
  },
  {
    image: "/img/2.jpeg",
  },
  {
    image: "/img/13.jpeg",
  },
  {
    image: "/img/19.jpeg",
  },
  {
    image: "/img/22.jpeg",
  },
  {
    image: "/img/23.jpeg",
  },
  {
    image: "/img/21.jpeg",
  },
  {
    image: "/img/20.jpeg",
  },
  {
    image: "/img/3.jpeg",
  },
  {
    image: "/img/4.jpeg",
  },
  {
    image: "/img/14.jpeg",
  },
  {
    image: "/img/11.jpeg",
  },
  {
    image: "/img/9.jpeg",
  },
  {
    image: "/img/16.jpeg",
  },
  {
    image: "/img/17.jpeg",
  },
  {
    image: "/img/18.jpeg",
  },
  {
    image: "/img/6.jpeg",
  },
  {
    image: "/img/7.jpeg",
  },
  {
    image: "/img/8.jpeg",
  },
  {
    image: "/img/5.jpeg",
    text: "To be continued...",
  },
];
---

<div class="px-8">
  <section
    id="main-carousel"
    class="splide"
    aria-label="The Beautiful Gallery carousel. Selecting a thumbnail will change this carousel."
  >
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map(({ image, text }) => (
            <li class="splide__slide">
              <p class="font-loversQuarrel text-center text-4xl mb-2">{text}</p>
              <img src={image} alt="" class="rounded-xl shadow-sm" />
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <section
    id="thumbnail-carousel"
    class="splide"
    aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
  >
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map(({ image }) => (
            <li class="splide__slide">
              <img src={image} alt="" />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</div>

<style is:global>
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  #main-carousel {
    padding: 0 !important;
  }

  .splide__slide {
    opacity: 0.6;
  }

  .splide__slide.is-active {
    opacity: 1;
  }

  .custom-arrow svg {
    fill: #a47e3b;
  }

  .custom-arrow:hover:not(:disabled) svg {
    fill: #a47e3b;
  }
  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: 3px solid #a47e3b;
    opacity: 1;
  }
</style>

<script>
  import Splide from "@splidejs/splide";

  var main = new Splide("#main-carousel", {
    type: "fade",
    rewind: true,
    pagination: false,
    arrows: false,
  });

  var thumbnails = new Splide("#thumbnail-carousel", {
    fixedWidth: 100,
    fixedHeight: 60,
    gap: 10,
    rewind: true,
    pagination: false,
    isNavigation: true,
    focus: "center",
    breakpoints: {
      600: {
        fixedWidth: 120,
        fixedHeight: 80,
      },
    },
    classes: {
      arrows: "splide__arrows your-class-arrows",
      arrow: "splide__arrow custom-arrow",
    },
  });

  main.sync(thumbnails);
  main.mount();
  thumbnails.mount();
</script>
