<section id="main-carousel" class="splide" aria-label="My Awesome Gallery">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img class="w-full h-auto" src="/portada.jpg" alt="" />
      </li>
      <li class="splide__slide">
        <img src="/portada.jpg" alt="" />
      </li>
      <li class="splide__slide">
        <img src="/portada.jpg" alt="" />
      </li>
      <li class="splide__slide">
        <img src="/portada.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>

<ul id="thumbnails" class="thumbnails flex flex-row justify-center gap-2">
  <li class="thumbnail w-16">
    <img src="/portada.jpg" alt="" />
  </li>
  <li class="thumbnail w-16">
    <img src="/portada.jpg" alt="" />
  </li>
  <li class="thumbnail w-16">
    <img src="/portada.jpg" alt="" />
  </li>
  <li class="thumbnail w-16">
    <img src="/portada.jpg" alt="" />
  </li>
</ul>

<script>
  import Splide from "@splidejs/splide";

  new Splide(".splide").mount();
</script>
