<div id="map" class="h-[400px] w-full"></div>

<script>
  // Initialize and add the map
  let map: google.maps.Map;
  async function initMap(): Promise<void> {
    // The location
    const position = { lat: 26.41517448425293, lng: -108.62248229980469 };

    // Request needed libraries.
    const { Map } = (await google.maps.importLibrary(
      "maps"
    )) as google.maps.MapsLibrary;
    const { AdvancedMarkerElement } = (await google.maps.importLibrary(
      "marker"
    )) as google.maps.MarkerLibrary;

    // The map
    map = new Map(document.getElementById("map") as HTMLElement, {
      zoom: 17,
      center: position,
      mapId: "event-location",
    });

    // The marker
    new AdvancedMarkerElement({
      map,
      position,
      title: "Event Location",
    });
  }

  initMap();
</script>
