---

---

<section
  class="bg-white bg-[url(/perla3.jpeg)] bg-top border-double border-b-8 border-[#A47E3B] relative"
>
  <div class="bg-[#F6F4EB] bg-opacity-35 w-full h-full absolute top-0"></div>
  <div class="relative flex flex-col items-center p-8 py-16">
    <p class="font-loversQuarrel text-6xl mb-8 leading-8">
      Código de vestimenta
    </p>
    <div class="flex flex-row w-full justify-evenly items-center">
      <div>
        <img
          src="/2.webp"
          class="w-[200px] h-[300px] brightness-0 mb-4"
          alt=""
        />
        <p class="font-playfair text-center">Hombres <br /> Etiqueta</p>
      </div>
      <div>
        <img
          src="/3.webp"
          class="w-[200px] h-[300px] brightness-0 mb-4"
          alt=""
        />
        <p class="font-playfair text-center">
          Mujeres <br />Etiqueta (No Blanco)
        </p>
      </div>
    </div>
  </div>
</section>
