<section class="flex relative h-screen w-full items-end justify-center">
  <img class="-z-10 absolute top-0 w-full h-screen" src="/portada.jpg" alt="" />
  <div class="flex flex-col justify-center">
    <div class="flex flex-row justify-center items-center w-full">
      <img class="w-[120px] h-[30px]" src="/dletras1.webp" alt="" />
      <h2 class="text-center font-gloock text-4xl flex-1 text-white flex-grow">
        Nos casamos
      </h2>
      <img class="w-[120px] h-[30px]" src="/dletras1.webp" alt="" />
    </div>
    <div class="flex justify-center my-4">
      <p class="font-loversQuarrel text-white text-7xl">Kevin y Aketzaly</p>
    </div>
  </div>
</section>
