<section class="flex relative w-full h-[90vh] items-end justify-center">
  <div
    class="-z-10 bg-[url(/img/5.jpeg)] brightness-75 bg-cover bg-top absolute top-0 left-0 w-full h-full"
  >
  </div>
  <div class="flex flex-col justify-center w-full">
    <div class="flex flex-row justify-center items-center w-full">
      <div class="flex flex-1 justify-end">
        <img class="w-[120px] h-[30px]" src="/dletras1.webp" alt="" />
      </div>
      <h2
        class="text-center font-gloock text-4xl flex-1 text-white flex-grow animate-fade-in-up animate-duration-1000"
      >
        Nos casamos
      </h2>
      <div class="flex flex-1">
        <img class="w-[120px] h-[30px]" src="/dletras1.webp" alt="" />
      </div>
    </div>
    <div class="flex justify-center my-4">
      <p
        class="font-loversQuarrel text-white text-7xl animate-blurred-fade-in animate-delay-700"
      >
        Kevin y Aketzaly
      </p>
    </div>
  </div>
</section>
