---
import Card from "../components/Card.astro";
---

<section
  id="itinerary"
  class="w-full bg-white bg-[url(/perla2.jpg)] bg-top border-double border-b-8 border-[#A47E3B] relative h-auto"
>
  <div class="bg-white bg-opacity-50 w-full h-full absolute top-0"></div>
  <div class="relative flex flex-col items-center p-8 h-auto">
    <p class="font-loversQuarrel text-6xl">Itinerario</p>
    <div class="flex flex-col w-full">
      <Card>
        <p class="font-loversQuarrel text-3xl">Ceremonia</p>
        <p class="text-start font-serif">
          5:00 pm <br />Templo de San Agustin
        </p>
      </Card>
      <Card>
        <p class="font-loversQuarrel text-3xl">Recepción</p>
        <p class="text-start font-serif">
          5:00 pm <br />Templo de San Agustin
        </p>
      </Card>
      <Card>
        <p class="font-loversQuarrel text-3xl">Vals de los novios</p>
        <p class="text-start font-serif">
          5:00 pm <br />Templo de San Agustin
        </p>
      </Card>
      <Card>
        <p class="font-loversQuarrel text-3xl">Cena</p>
        <p class="text-start font-serif">
          5:00 pm <br />Templo de San Agustin
        </p>
      </Card>
    </div>
  </div>
</section>
