---
import Map from "../components/Map.astro";
---

<section
  class="bg-white bg-[url(/perla3.jpeg)] bg-top border-double border-b-8 border-[#A47E3B] relative"
>
  <div class="bg-[#F6F4EB] bg-opacity-35 w-full h-full absolute top-0"></div>
  <div class="relative flex flex-col items-center p-8">
    <p class="font-loversQuarrel text-6xl mt-6 mb-8 leading-8">Ubicación</p>
    <div
      class="flex flex-col justify-center text-center gap-6 bg-white border-[#A47E3B] border-double border-4 rounded-xl p-8 w-full"
    >
      <p class="font-playfair text-3xl">Ceremonia y Recepción</p>
      <div class="flex flex-col items-center justify-center">
        <img src="/Salon HG.jpeg" class="w-[80px] h-[80px]" alt="" />
        <p class="text-xl">Salón de eventos HG</p>
      </div>
      <Map />
      <p>
        <span class="font-bold">Dirección:</span>
        <br />
        Mariano Escobedo 308, entre Donato Guerra y República, Centro, 81820 El Fuerte,
        Sin.
      </p>
      <a
        href="https://www.google.com/maps?q=26.41517448425293,-108.62248229980469&z=17&hl=es"
        target="_blank"
        class="font-sans text-lg px-4 py-2 bg-[#F6F4EB] rounded-full shadow-md"
        >Ver en Google Maps</a
      >
    </div>
  </div>
</section>
