---
import Clock from "../components/Clock";
import Song from "../components/Song";
const eventDate = new Date(2024, 5, 21, 18, 0, 0);
---

<section
  class="bg-white bg-[url(/perla2.jpg)] bg-top border-double border-y-8 border-[#A47E3B] relative"
>
  <div class="bg-white bg-opacity-50 w-full h-full absolute top-0"></div>
  <div class="relative flex flex-col items-center p-8">
    <p
      class="font-gloock text-2xl mb-8 leading-8 animate-fade-in-down animate-delay-1000"
    >
      Sábado 22 de Junio de 2024
    </p>
    <Clock client:load targetDate={eventDate} />
    <div class="my-8">
      <Song />
    </div>
    <div class="flex flex-col justify-center text-center gap-6">
      <p class="font-loversQuarrel text-3xl animate-slide-in-left">
        Con la bendición de Dios y la de
      </p>
      <p class="font-gloock text-2xl text-center flex flex-col items-center">
        NUESTROS PADRES
        <img src="/dletras.webp" alt="" class="w-[100px] brightness-0" />
      </p>
      <p class="font-cormorant text-xl">
        <span class="font-baskerville text-xl">NOVIA</span><br />
        Cruz Eduardo Soto Ayala <br />Micaela Lopez Orduño
      </p>
      <p class="font-cormorant text-xl">
        <span class="font-baskerville text-xl">NOVIO</span><br />
        Abelardo Acosta Montes <br />Ana Luisa Luna Ceballos
      </p>
      <p class="font-gloock text-2xl text-center flex flex-col items-center">
        NUESTROS PADRINOS
        <img src="/dletras.webp" alt="" class="w-[100px] brightness-0" />
      </p>
      <p class="font-cormorant text-xl">
        <span class="font-baskerville text-xl">NOVIA</span><br />
        Jesús Ivan Avilés Jacobo <br />Itzayane Soto Lopez
      </p>
      <p class="font-cormorant text-xl">
        <span class="font-baskerville text-xl">NOVIO</span><br />
        Fredy Ramos <br />Teresa Ramos
      </p>
      <p class="font-loversQuarrel text-4xl mt-4">
        "Como llama divina es el fuego ardiente del amor. Ni las muchas aguas
        pueden apagarlo, ni los ríos pueden extinguirlo" <br />(Cantares
        8:6b-7a)
      </p>
    </div>
  </div>
</section>
